# Entornos virtuales
venv/
env/
ENV/
.venv/

# Variables de entorno
.env
.env.local

# Archivos de Python
__pycache__/
*.py[cod]
*.so
.Python

# Base de datos local
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log